{% extends 'base.html.twig' %}
{# templates/register.html.twig #}
{% block body %}
{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.price) }}
 <button type="submit">Register</button>
{{ form_end(form) }}
{% endblock %}